<p id="notice"><%= notice %></p>

<h1>Custome Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Field name</th>
      <th>Field type</th>
      <th>Required</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custome_attributes.each do |custome_attribute| %>
      <tr>
        <td><%= custome_attribute.field_name %></td>
        <td><%= custome_attribute.field_type %></td>
        <td><%= custome_attribute.required %></td>
        <td><%= link_to 'Show', custome_attribute %></td>
        <td><%= link_to 'Edit', edit_custome_attribute_path(custome_attribute) %></td>
        <td><%= link_to 'Destroy', custome_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custome Attribute', new_custome_attribute_path %>
